<div id="leftsidebar">
  <div id="rightsidebar">
    <div class="container">
      <br>
      <div id="innerborderleft">
        <div id="innerborderright">
          <header class="header text-center">
            <br>
            <h1 class="savedArticlesTitle">SAVED ARTICLES</h1>
            <br>
            <nav class="button-group">
              <a href="/">
                <button id="home_button">Home</button>
              </a>
            </nav>
            <br>
          </header>
          <div class="rows">
            <div class="col-lg-12">
              {{#each articles}} {{#if saved}}
              <div class='articles'>
                <a href="{{link}}" class="link" target="_blank">
                  <h2 class="title">{{title}}</h2>
                </a>
                <button class="addNote" data-toggle="modal" data-target="#modalNote" data-id="{{_id}}">Add/View Notes</button>
                <button class="deleteArticles" data-id="{{_id}}">Delete Article</button>
              </div>
              <div id="modalNote" class="modal fade" role="dialog">
                <div class="modal-dialog modal-md">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title text-center" data-id="{{article_id}}">Add Notes</h4>
                    </div>
                    <div class="modal-body">
                      <textarea type="text" id="noteInput" class="noteInput" placeholder="Enter Note"></textarea>
                      <div id="noteArea"></div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" id="submitNote" data-id="{{article_id}}"> Save Note</button>
                    </div>
                  </div>
                </div>
              </div> {{/if}} {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>